@model List<Club.Models.Locacion>
@{
    ViewBag.Title = "Locacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Crear", "Create", "Locacion")
        </li>
        <li class="breadcrumb-item active">Index</li>

   
    </ol>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bordered Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Habilitado para:</th>
                                    <th>Ubicacion:</th>
                                    <th></th>

                                </tr>
                                @foreach (var location in Model)
                                {

                                    <tr>

                                        <td>@location.id</td>
                                        <td>@location.tipo.descripcion</td>
                                        <td>@location.descripcion</td>

                                        <td>
                                            @using (Html.BeginForm("Delete", "Locacion", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" value="@location.descripcion" name="TicketNumber" />
                                                <input type="hidden" value="@location.id" name="Id" />
                                                <input class="btn btn-block btn-danger" type="submit" value="Borrar" />
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>




</section>